body {
  font-family: Arial;
}

.navigation {
  float: left;
}

.content {
  margin-top: 25px;
  float: left;
  clear: left;
}

.label {
  font-weight: bold;
  text-decoration:underline;
}

.enabled {
  background-color: green;
}

.disabled {
  background-color: red;
}

.clickable {
  cursor: pointer;
}

.selected {
  background-color: lightblue;
}

ul, li {
  list-style-type: none;
  margin:0;
  padding:0;
}